.section {
    max-width: 1200px;
    height: 100vh;
    margin: 10px auto;
    padding: 20px;
    text-align: center;

    /* border: 1px solid var(--accent-color);
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    box-shadow: 0 0 4px 4px #18622c; */
}
