.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  box-sizing: border-box;
  width: 500px;
  list-style: none;

  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.item:hover {
  text-decoration: underline;
}

.text {
  display: flex;
  align-items: center;
  width: 40%;
  font-size: 20px;
}

.tel {
  display: inline-block;
  width: 30%;
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .item {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
