@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding: 10px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    --primary-bg-color: lightgreen;
    --accent-color: darkgreen;
    --primary-text-color: black;
    --secondary-text-color: gray;
    --btn-color: whitesmoke;
    background-color: var(--btn-color);

    --transition: 300ms ease-in-out;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

h2 {
  padding-bottom: 20px;
  text-decoration: underline;
  font-size: 25px;
}
button {
  cursor: pointer;
}

button, input {
  border-radius: 2px;
}
