.item {
    height: 40px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--secondary-text-color);
    transition: all var(--transition);
}

.focus {
    opacity: 0.8;
    text-decoration: underline;
}

.name {
    min-width: 30%;
}

.num {
    margin-left: 10px;
}